DB_HOST=localhost
DB_USER=tuusuario
DB_PASSWORD=tu_contraseña_de_workbench
DB_NAME=nombre_de_tu_schema
DB_PORT=3306

#No se le olvide no modificar este archivo, sino crear uno nuevo llamado .env y colocar los datos de la base de datos, para que no se pierdan al actualizar el proyecto.

#npm install mysql2 dotenv -instalar la libreria mysql2 y dotenv para poder conectarse a la base de datos y leer el archivo .env

# Tener mysql instalado y disponible en la terminal.

# Crear .env con:

# DB_HOST=localhost
# DB_USER=tu_usuario
# DB_PASSWORD=tu_contraseña
# DB_NAME=proyecto_jhon_db
# DB_PORT=3306
# Instalar dependencias:

# npm install

#npm run migrate  -para ejecutar el script de migración y crear la base de datos y las tablas necesarias. Asegúrate de tener MySQL instalado y en funcionamiento antes de ejecutar este comando.